table,td {
	 border :1px solid black ;

}
p{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
table{
	padding: 5px;
	margin :0px auto;
	margin-top: 10px;
	text-align: center;
}
td{
	padding: 10px;
}

#tr1 .td1 input{
	padding: 5px 5px 5px 0px;
	text-align: right;
	

}
#tr2 .td2 input{
	padding: 5px 35px 5px 0px;
	;
	

}

#tr3 .td3 input{
	padding: 5px 20px 5px 0px;
	text-align:center;
}

#tr4 .td4 input{
	padding: 5px 20px 5px 0px;
}

#tr5 .td5 input{
	padding: 5px 20px 5px 0px;
}
#tr6 .td6 input{
	padding: 5px 20px 5px 0px;

}